<div class="container">
  <div class="text-center">
    <h2>Lista de Jugadores</h2>
  </div>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder=""
      aria-label="Recipient's username with two button addons"
    />
    <button class="btn btn-outline-secondary" type="button">Filtrar</button>
    <select class="btn btn-outline-secondary">
      <option *ngFor="let n of filtros" [value]="n.key">
        {{ n.nombre }}
      </option>
    </select>
  </div>
  <div class="col-12">
    <div class="card shadow-2-strong">
      <div class="card-body p-0">
        <div
          class="table-responsive table-scroll"
          data-mdb-perfect-scrollbar="true"
        >
          <table class="table table-dark mb-0">
            <thead style="background-color: #393939">
              <tr class="text-uppercase">
                <th scope="col" class="column">Nombre y Apellido</th>
                <th scope="col" class="column">DNI</th>
                <th scope="col" class="column">Fecha Nacimiento</th>
                <th scope="col" class="column">Facultad</th>
                <th scope="col" class="column">Disciplina</th>
                <th scope="col" class="column">Nacionalidad</th>
                <th scope="col" class="column">Rol</th>
                <th scope="col" class="column">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of jugador">
                <td class="column">{{ n.nombre }} {{ n.apellido }}</td>
                <td class="column">{{ n.dni }}</td>
                <td class="column">{{ n.fechaNac }}</td>
                <td class="column">{{ n.facultad }}</td>
                <td class="column">{{ n.disciplina.nombre }}</td>
                <td class="column">{{ n.nacionalidad }}</td>
                <td class="column">role</td>
                <td class="column">
                  <button
                    id="action-button"
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="editar(n.id)"
                  >
                    Editar
                  </button>
                  <button
                    id="action-button"
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="eliminar(n.id)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <!--crear boton editar-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
