<footer class="bg-dark text-center text-white mt-auto">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">


      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/joel-edgar-dellamaggiore-kuns/" target="_blank" role="button"><i class="fab fa-linkedin-in"> Dellamaggiore</i></a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/santiago-giordano/" target="_blank" role="button"><i class="fab fa-linkedin-in"> Giordano</i></a>
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JoelDellamaggiore" target="_blank" role="button"><i class="fab fa-github"> Dellamaggiore</i></a>
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/wink15" target="_blank" role="button"><i class="fab fa-github"> Giordano</i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Desarrollo de Aplicaciones WEB - UTN FRVM 2022 - Dellamaggiore Joel - Giordano Santiago
  </div>
  <!-- Copyright -->
</footer>