<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../favicon.ico" alt="" />
    <h2>Nuevo Jugador</h2>
  </div>

  <div class="col-12">
    <h4 class="mb-3">Datos Personales</h4>
    <form [formGroup]="nuevo" (ngSubmit)="guardarJugador(f)" #f="ngForm">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            [class.is-invalid]="nombreNoValido"
            [(ngModel)]="jugador.nombre"
          />
          <small *ngIf="nombreNoValido" class="text-danger"
            >Nombre no valido</small
          >
        </div>

        <div class="col-sm-6">
          <label for="apellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            formControlName="apellido"
            [class.is-invalid]="apellidoNoValido"
            [(ngModel)]="jugador.apellido"
          />
          <small *ngIf="apellidoNoValido" class="text-danger"
            >Apellido no valido</small
          >
        </div>
        <div class="col-sm-6">
          <label for="dni" class="form-label">DNI</label>
          <input
            type="text"
            class="form-control"
            formControlName="dni"
            [class.is-invalid]="dniNoValido"
            [(ngModel)]="jugador.dni"
          />
          <small *ngIf="dniNoValido" class="text-danger"
            >DNI no valido</small
          >
        </div>
        <div class="col-sm-6">
          <label for="legajo" class="form-label">Legajo</label>
          <input
            type="text"
            class="form-control"
            formControlName="legajo"
            [class.is-invalid]="legajoNoValido"
            [(ngModel)]="jugador.legajo"
          />
          <small *ngIf="legajoNoValido" class="text-danger"
            >Legajo no valido</small
          >
        </div>
        <div class="col-sm-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input
            type="text"
            class="form-control"
            formControlName="telefono"
            [class.is-invalid]="telefonoNoValido"
            [(ngModel)]="jugador.telefono"
          />
          <small *ngIf="telefonoNoValido" class="text-danger"
            >Telefono no valido</small
          >
        </div>
        <div class="col-sm-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="emailNoValido"
            [(ngModel)]="jugador.email"
          />
          <small *ngIf="emailNoValido" class="text-danger"
            >Email no valido</small
          >
        </div>
        <div class="col-sm-6">
          <label for="nacionalidad" class="form-label">Nacionalidad</label>
          <select [(ngModel)]="jugador.nacionalidad" class="form-control" name="nacionalidad" [class.is-invalid]="nacionalidadNoValido" formControlName="nacionalidad">
            <option [ngValue]="undefined" disabled selected>Seleccione una nacionalidad</option>
            <option *ngFor="let nacionalidad of nacionalidades" [ngValue]="nacionalidad">{{nacionalidad.nombre}}</option>
          </select>
          <small *ngIf="nacionalidadNoValido" class="text-danger"
            >Seleccione la nacionalidad del jugador</small
          >
        </div>

        <div class="col-sm-6">
          <label for="fcnac" class="form-label">Fecha Nacimiento</label>
          <input
            type="date"
            class="form-control"
            formControlName="fechaNacimiento"
            [class.is-invalid]="fechaNacimientoNoValido"
            [(ngModel)]="jugador.fechaNacimiento"
            [max]="mayorDeEdadStr"
          />
          <small *ngIf="fechaNacimientoNoValido" class="text-danger"
            >Seleccione la fecha de nacimiento del jugador</small
          >
        </div>
      </div>

      <hr class="my-4" />

      <h4 class="mb-3">Facultad</h4>
      <div class="my-3">
        <select [(ngModel)]="jugador.facultad" class="form-control" name="facultad" [class.is-invalid]="facultadNoValido" formControlName="facultad">
          <option [ngValue]="undefined" disabled selected>Seleccione una facultad</option>
          <option *ngFor="let facultad of facultades" [ngValue]="facultad">{{facultad.nombre}}</option>
        </select>
        <small *ngIf="facultadNoValido" class="text-danger"
            >Seleccione la facultad del jugador</small
          >
      </div>

      <hr class="my-4" />

      <h4 class="mb-3">Disciplina</h4>
      <div class="my-3">
        <select [(ngModel)]="jugador.disciplina" class="form-control" name="disciplina" [class.is-invalid]="disciplinaNoValido" formControlName="disciplina">
          <option [ngValue]="undefined" disabled selected>Seleccione una disciplina</option>
          <option *ngFor="let disciplina of disciplinas" [ngValue]="disciplina">{{disciplina.nombre}}</option>
        </select>
        <small *ngIf="disciplinaNoValido" class="text-danger"
            >Seleccione la disciplina del jugador</small
          >
      </div>
      <hr class="my-4" />

      <button class="w-100 btn btn-primary btn-lg" type="submit">
        Registrar Nuevo Jugador
      </button>
    </form>
  </div>
</div>
