/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    padding-bottom: 3em;
    min-height: 145vh;
}
footer{
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}