<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <div class="container">
    <form [formGroup]="editForm" #f="ngForm">
      <div class="form-outline mb-4">
        <label class="form-label" for="form4Example2">Nombre</label>
        <input formControlName="nombre" type="text" name="nombre" class="form-control" [(ngModel)]="edit.nombre"
          [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger"> Nombre Invalido</small>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form4Example3">Descripcion</label>
        <textarea formControlName="descripcion" class="form-control" name="descripcion" rows="4"
          [(ngModel)]="edit.descripcion" [class.is-invalid]="descNoValido"></textarea>
        <small *ngIf="descNoValido" class="text-danger"> Descripcion Invalido</small>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cerrar
  </button>
  <button type="button" class="btn btn-primary" (click)="actualizarDisciplina(f)">Guardar cambios</button>
</div>